@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root{
--corPrincipal: #15B097;
}
*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--corPrincipal);
}

.container{
    background-color:#fff;
   width: 60px;
   height: 340px;
   border-radius: 10px;  
   margin: 60px auto;
   display: flex;
   align-items: center;

}
.container .menu{ 
    list-style: none;
    color: var(--corPrincipal);
    display: flex;
    flex-direction:  column;
 
}

.menu .item{
   margin: 5px;

}
.menu .item:hover{
    background-color:var(--corPrincipal);
    border-radius: 5px;
}
.menu .item a{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: var(--corPrincipal);
}
.menu .item a:hover{
    color: white;
    transform: scale(1.02); 
}
.item a span{
   display: none; 
    margin-left: 10px;
}
.btn-seta{
    background-color: white;
    color: var(--corPrincipal);
    padding: 10px;
    border-radius: 20px;
    border: 3px solid var(--corPrincipal);
}
.btn-seta2{
    background-color: white;
    color: var(--corPrincipal);
    display: none;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid var(--corPrincipal);
}